@model IEnumerable<DataAccessLayer.Models.Usuario>
@{
    ViewBag.Title = "MisOrdenes";
}

<div class="row">
    <table class="table" id="tablaProductos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Presentacion</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tfoot>
        </tfoot>
        @foreach (var item in Model)
            {
            
        }
    </table>
</div>

 

