<link href="~/Content/SucursalesStyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Nosotros";
}

<div class="row">
    <div class="col-lg-1"><a onclick="history.back()"><h3>Regresar</h3></a></div>
</div>


<div class="separador"></div>

    <h1 class="titulos">¿Quiénes Somos?</h1>

<div class="separador"></div>

<div class="row">
    <div class="col-md-4">
        <img class="img-rounded" id="picturemain" src="~/images/FarmaciaLeon.jpg" />
    </div>
    <div class="texto">
        <p class="col-md-8">
            Somos una empresa que busca ofrecer a sus clientes el mejor surtido de medicamentos y productos auxiliares al mejor precio, en un ambiente de confianza, por lo cual el brindar un servicio de calidad es fundamental. Es por ello que contamos con personal capacitado y dispuesto a ayudar a los clientes, así como una amplia red de sucursales.

            Buscamos la excelencia en el servicio, en los proceso y en la dirección. Pretendemos sobresalir entre las farmacias de la región en productividad, rentabilidad, calidad de servicio y desarrollo de personal.
        </p>      
    </div>
</div>

<div class="row">
    <div class="texto">
        <p class="subtitulos">
            <strong>Visión</strong>
        </p>
        <p>
            Sobresalir entre las farmacias de la región en productividad, rentabilidad, servicio de calidad y desarrollo personal.
        </p>
        <p class="subtitulos">
            <strong>Misión</strong>
        </p>
        <p>
            Ofrecer a nuestros clientes el mejor surtido de medicamentos y productos al mejor precio en un ambiente de confianza y servicio de calidad.
        </p>
        <p class="subtitulos">
            <strong>Política de calidad</strong>
        </p>
        <p>
            En Farmacia Leon estamos comprometidos a hacer todo lo posible para brindar a nuestros clientes, productos y servicios superiores que satisfagan sus necesidades, a través de personal capacitado, tecnología de información y una continua mejora de procesos.
        </p>
        <h1 class="titulos" style="text-align:center; margin-top:120px;">Nuestros valores</h1>
        
        <div class="separador"></div>
        <p class="subtitulos" >
            <strong>Compromiso:</strong>
        </p>
        <p>
            Mas allá de cumplir con una obligación, es poner en juego nuestras capacidades para sacar adelante todo aquello que se nos ha confiado, adoptando los principios, políticas, reglamentos y objetivos de la empresa.
        </p>
        <p class="subtitulos">
            <strong>Honestidad:</strong>
        </p>
        <p>
            Los comportamientos personales y profesionales orientados a la ética, la transparencia y honradez.
        </p>
        <p class="subtitulos">
            <strong>Trabajo en equipo:</strong>
        </p>
        <p>
            Aprovechar las fortalezas de cada cual de una manera coordinada, armónica y enfocada.
        </p>
        <p class="subtitulos">
            <strong>Proactividad:</strong>
        </p>
        <p>
            Tomar la iniciativa, emprender la acción y hacer que las cosas sucedan.
        </p>

</div>
</div>





