
@{
    ViewBag.Title = "Sucursales";
}


    <div class="row">
        <div class="col-lg-1"><a onclick="history.back()"><h3>Regresar</h3></a></div>
    </div>

        <div class="separador"></div>

        <h1 class="titulos">Encuentranos en tu sucursal preferida</h1>
        <p id="subtitulo">Contamos con 3 sucursales en distintas zonas de nuestra region:</p>

        <div class="separador"></div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="https://goo.gl/maps/QYskXExR2oK2" target="_blank">
                        <div class="caption">
                            <h2>Calle Serdan</h2>
                            <p>
                                Encuentranos en nuestra sucursal
                                ubicada en la Calle Diecinueve, colonia Centro
                                85400 Heroica Guaymas, Sonora
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="https://goo.gl/maps/fpGnjvHzfAk" target="_blank">
                        <div class="caption">
                            <h2>Las Delicias</h2>
                            <p>
                                Encuentranos en nuestra sucursal
                                ubicada en Plaza las Delicias, colonia Las Delicias
                                85427 Heroica Guaymas, Sonora
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="https://goo.gl/maps/LUHUcE35Jiu" target="_blank">
                        <div class="caption">
                            <h2>Guaymas Norte</h2>
                            <p>
                                Encuentranos en nuestra sucursal
                                ubicada en la Calle Mar baltico 26,
                                luis donaldo colosio, 85420 Heroica Guaymas, Sonora
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>



