
@{
    ViewBag.Title = "AgregarProducto";
}

<h2 class="titulos">Agregar Productos</h2>

<div class="form-horizontal">
    <h2></h2>
    <div class="form-group">
        <label for="ProductoTxt" class="control-label col-md-5">Nombre Producto</label>
        <div class="col-md-7">
            <input id="ProductoTxt" type="text" class="form-control" name="nombreProductoTxt" placeholder="Nombre" />

        </div>
    </div>
    <div class="form-group">
        <label for="categoriaProductoTxt" class="control-label col-md-5">Categoria</label>
        <div class="col-md-7">
            <input id="categoriaProductoTxt" type="text" class="form-control" name="categoriaProductoTxt" placeholder="Categoria" />
        </div>
    </div>
    <div class="form-group">
        <label for="passwordTxt" class="control-label col-md-5">Password</label>
        <div class="col-md-7">
            <input id="passwordTxt" type="text" class="form-control" name="paswordTxt" placeholder="Password" />
        </div>
    </div>
    <div class="form-group">
        <label for="rePasswordTxt" class="control-label col-md-5">Email</label>
        <div class="col-md-7">
            <input id="rePasswordTxt" type="text" class="form-control" name="rePasswordTxt" placeholder="Re-Password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="btnSubmit" value="Iniciar Sesión" class="btn btn-default" />
        </div>
    </div>
</div>

