
@{
    ViewBag.Title = "BuscaProductos";
}

<div class="row">
    <div class="col-lg-1"><a onclick="history.back()"><h3>Regresar</h3></a></div>
    
</div>

<div class="form-group ">
    <div class="text-center">
        <h2>Busqueda de Productos por Nombre</h2>
        <input class="input-lg" type="text" name="buscaProducto" placeholder="Producto" />
        <input class="btn-lg" type="submit" name="btnBuscaProducto" value="buscar" />
    </div>
</div>

