
@{
    ViewBag.Title = "Productos";
}

<h2 class="titulos">Productos</h2>

<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="@Url.Action("BuscaProductos","indexAdmin")">
                <div class="caption">
                    <h2>Ver productos</h2>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="@Url.Action("AgregarProducto","indexAdmin")">
                <div class="caption">
                    <h2>Agregar Productos</h2>
                </div>
            </a>
        </div>
    </div>
</div>


