
@{
    ViewBag.Title = "Ventas";
}

<div class="row">
    <div class="col-lg-1"><a onclick="history.back()"><h3>Regresar</h3></a></div>
    
</div>

<h2 class="titulos">Ventas</h2>

<div class="form-group ">
    <div class="text-center">
        <h2>Busqueda de Ventas por Fecha</h2>
        <input class="input-lg" type="text" name="buscaVenta" placeholder="Fecha" />
        <input class="btn-lg" type="submit" name="btnBuscaVenta" value="buscar" />
    </div>
</div>

