body {
    background-color: lightgray;
}

#headercolor {
    background-color: #21618C;
}

.headerleon {
    padding: 0;
}

#logo {
    height: 100px;
}

#buscar {
    width: 300px;
    padding-top: 23px;
}

#headernav li {
    border-left: 1px solid;
}

#productos {
    padding: 16px;
    color: darkgray;
}


.navi {
    padding: 0 10px;
}

.buttonTxt{
   color: #5ff442;
}

h2{
   text-align: center;
}

.formulario{
    text-align: center;
    align-content: center;
    align-items: center;
    margin: auto;
}

.bordes{
    border: 1px solid grey;
    padding: 10px;
    
}

.asideadmin{
    
    height:300px;
    border-right: 1px solid #222;
}

.spacio{
    height: 50px;
}

.lista {
    list-style: none;
    color: #9d9d9d;
}

.lista li{
    color: #9d9d9d;
}

.catalogo {
    padding: 5px;
    border: 1px solid #222;
    height: auto;
    width: auto;
    margin: 10px;
}

#tarjeta {
    border: 1px solid black;
}

.catalogo {
    padding: 5px;
    border: 1px solid #222;
    height: auto;
    width: auto;
    margin: 10px;
}

#tarjeta {
    border: 1px solid black;
}

.textoTarjeta{
    text-align: center;
}