
/*Seccion sucursales y nosotros*/

.container {
    text-align: center;
}

.col-md-4 {
    text-align: center;
}

#subtitulo {
    font-size: 1.5em;
}

.separador {
    height: 30px;
}

.titulos {
    margin: 10px 0;
    border-bottom: 3px solid rgba(2, 2, 2, 0.2);
    padding: 12px;
}

.texto {
    font-size: 1.5em;
    text-align:justify;
}

.subtitulos {
    margin: 10px 0;
    padding: 12px;
}

#picturemain{
    height:160px;
    margin-top:20px
}



/*contactanos*/

