
@{
    ViewBag.Title = "EliminarUsuario";
}

<form method="post">
    <h2>Aqui puedes eliminar tu cuenta, ten cuidado al hacer esto ya que todos tus datos serán borrados.
    Para borrar tu cuenta debes introducir tu Email en la caja de texto inferior.</h2>
    <form method="post">
        <div class="form-group">
            <label for="mensajeConfirmacionTxt" class="control-label col-md-2">Editar Nombre</label>
            <div class="col-md-2">
                <input id="mensajeConfirmacionTxt" type="text" class="form-control" name="mensajeConfirmacionTxt">
            </div>
            <div class="col-md-2">
                <input type="submit" name="btnSubmitNombre" value="Editar" class="btn btn-danger" />
            </div>
        </div>
    </form>
</form>

