
@{
    ViewBag.Title = "LoginInfo";
}

<link href="~/Content/styles.css" rel="stylesheet" />

@if (Session["TipoUsuario"] != "ADMIN")
{
    <h1>Hello @Session["Nombre"].ToString()</h1>
    <div class="container">
        <h2>Información Login</h2>
        <p>En esta sección puedes configurar tu perfil.</p>

        <div class="row">
            <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseExample">
                Editar Nombre
            </button>
            <div class="collapse" id="collapse1">
                <div class="form-group">
                    <label for="nombreTxt" class="control-label col-md-2">Editar Nombre</label>
                    <div class="col-md-2">
                        <input id="nombreTxt" type="text" class="form-control" name="nombreTxt" placeholder="@Session["Nombre"]" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" name="btnSubmitNombre" value="Editar" class="btn btn-success" />
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseExample">
                Editar Email
            </button>
            <div class="collapse" id="collapse2">
                <div class="form-group">
                    <label for="nombreTxt" class="control-label col-md-2">Editar Email</label>
                    <div class="col-md-2">
                        <input id="nombreTxt" type="text" class="form-control" name="nombreTxt" placeholder="@Session["Email"]" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" name="btnSubmitEmail" value="Editar" class="btn btn-success" />
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseExample">
                Editar Password
            </button>
            <div class="collapse" id="collapse3">
                <div class="form-group">
                    <label for="nombreTxt" class="control-label col-md-2">Editar Password</label>
                    <div class="col-md-2">
                        <input id="nombreTxt" type="text" class="form-control" name="nombreTxt" placeholder="@Session["Password"]" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" name="btnSubmitPassword" value="Editar" class="btn btn-success" />
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseExample">
                Eliminar Cuenta
            </button>
            <div class="collapse" id="collapse4">
                <div class="form-group">
                    <label for="nombreTxt" class="control-label col-md-2">Eliminar Cuenta</label>
                    <div class="col-md-2">
                        <input id="nombreTxt" type="text" class="form-control" name="nombreTxt" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" name="btnSubmitEliminar" value="Eliminar" class="btn btn-danger" />
                    </div>
                </div>

            </div>
        </div>



    </div>

}
else{ 
    <h1>NO ERES ADMIN</h1>
}
