
@{
    ViewBag.Title = "Login";
}

<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/ValidarLogin.js"></script>



<div class="row">
    <div class="col-lg-1"><a onclick="history.back()"><h3>Regresar</h3></a></div>

</div>

<div class="col-lg-11"><h2 class="titulos">Iniciar Sesión</h2></div>

    <div class="form-horizontal">
        <h2></h2>
        <div class="form-group">
            <label for="emailTxt" class="control-label col-md-4">Email</label>
            <div class="col-md-8">
                <input id="emailTxt" type="text" class="form-control" name="emailTxt" placeholder="Email" />
            </div>
        </div>

        <div class="form-group">
            <label for="passwordTxt" class="control-label col-md-4">Password</label>
            <div class="col-md-8">
                <input id="passwordTxt" type="password" class="form-control" name="passwordTxt" placeholder="Password" />

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" name="btnSubmit" value="Iniciar Sesión" class="btn btn-default" onclick="validarSesion()" />
            </div>
        </div>
    </div>

    
