
@{
    ViewBag.Title = "Perfil";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <a class="btn btn-primary btn-block" href="@Url.Action("Direccion","Direccion")">Direcciones</a>
        </div>
        <div class="col-xs-4">
            <a class="btn btn-primary btn-block" href="@Url.Action("LoginInfo","Usuario")">Login Información</a>
        </div>
        <div class="col-xs-4">
            <a class="btn btn-primary btn-block" href="@Url.Action("Ordenes","Usuario")">Ordenes</a>
        </div>
    </div>
</div>

