
@{
    ViewBag.Title = "Registro";
}

<div class="form-horizontal">
    <h2>Registro</h2>
    <div class="form-group">
        <label for="nombreTxt" class="control-label col-md-2">Nombre</label>
        <div class="col-md-10">
            <input id="nombreTxt" type="text" class="form-control" name="nombreTxt" placeholder="Nombre" />

        </div>
    </div>

    <div class="form-group">
        <label for="emailTxt" class="control-label col-md-2">Email</label>
        <div class="col-md-10">
            <input id="emailTxt" type="text" class="form-control" name="emailTxt" placeholder="Email" />
        </div>
    </div>
    <div class="form-group">
        <label for="passwordTxt" class="control-label col-md-2">Password</label>
        <div class="col-md-10">
            <input id="passwordTxt" type="text" class="form-control" name="paswordTxt" placeholder="Password" />
        </div>
    </div>
    <div class="form-group">
        <label for="rePasswordTxt" class="control-label col-md-2">Email</label>
        <div class="col-md-10">
            <input id="rePasswordTxt" type="text" class="form-control" name="rePasswordTxt" placeholder="Re-Password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" name="btnSubmit" value="Iniciar Sesión" class="btn btn-default" />
        </div>
    </div>
</div>

